body {
    background-color: #9AD0EC;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    transition: all 1s;
}

h1:hover {
    color: white;
    transform: scale(1.1);
}

hr {
    border: 1px solid rgb(201, 199, 199);
    max-width: 100px;
    margin-bottom: 7%;
}

.container {
    border: 5px solid black;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 10%;
    background-color: #f0db4f;
}

.btn {
    background-color: black;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
}

.btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bolder;
}

.stay-left {
    text-align: left;
    padding-bottom: 10%;
}

.footer {
    font-size: .7rem;
    text-align: right;
    padding-right: 10%;
    padding-bottom: 3%;
}